<!DOCTYPE html>
<head>
	<title><%= @title + " | " + @description %></title>
	<meta name="description" content="Tóth Mónika, Gyermek szpichológus és tanácsadó, csoportterápia szervezése, Budapesti rendelőben.">
	<link rel="stylesheet" type="text/CSS" href="/style.css" />
	<link rel="stylesheet" type="text/CSS" href="/forms-nr-min.css" />
	<link rel="stylesheet" type="text/CSS" href="/buttons-min.css" />
	<script src="/ckeditor/ckeditor.js"></script>
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/polyfiller.js"></script> 
	<script src="/js/javascript.js"></script>
	<script src="/js/civem.js"></script>	
</head>
<body>
<div id="page" class="singlecol">
	<div id="header">
		<div id="headerimg">
		<h1>
		<a href="/"> Tóth Mónika Weboldala </a>
		</h1>
		<div class="description"> Gyermek szpichológus és tanácsadó </div>
		</div>
	</div>
	<div id="navigation">
		<ul>
		<li>
		<a href="/">Főoldal</a>
		</li>
		<li>
		<a href="/blog">Blog</a>
		</li>
		<li>
		<a href="/about">Rólam</a>
		</li>
		<li>
		<a href="/misc">Egyéb</a>
		</li>
		<% if env['warden'].authenticated? %>
		<li>
		<a href="/users">felhasználók kezelése</a>
		</li>
		<li>
		  <a href="/logout">Kijelentkezés</a>
		</li>
		<% else %>
		<li>
		<a href="/login">Bejelentkezés</a>
		</li>
		<% end %>
		</ul>
	</div>
	<div id="content" class="narrowcolumn">
        <div class="post">
        <%= yield %>
	</div>
		<div id="sidebar">
			<ul>
			<li>
			<form id="searchform" action="/search" method="post">
			<div>
			<input name="search[keyword]" placeholder="Keresendő szöveg" pattern="[\u00c0-\u00ffA-Za-z0-9]{4,}" data-errormessage-pattern-mismatch="A keresendő szövegnek minimum 4 karakterből kell állnia, lehet benne betű (ékezettel is) és szám." type="text" />
			<%= Rack::Csrf.csrf_tag(env) %>
			<input id="searchsubmit" class="pure-button pure-button-primary" type="submit" value="Keresés">
			</div>
			</form>
			</li>
			<li>
			<h2>Linkek</h2>
			<ul style="margin-bottom:15px;">
				<% @sidebar_links.each do |link| %>
				  <li>
				    <a href="<%= link.href %>"><%= link.title %></a>
				  </li>
				<% end %>
			</ul>
			</li>
			<li>
			<h2>Legutóbbi blog bejegyzések</h2>
			<ul>
				<% unless @sidebar_posts[0] == nil %>
				<% @sidebar_posts.each do |sidebar| %>
				  <li>
				    <a href="/blog/<%= sidebar.id %>"><%= sidebar.title %></a>
				  </li>
				<% end %>
				<% end %>
			</ul>
			</li>
			<li>
			<h2>Legutóbbi hírek</h2>
			<ul>
				<% unless @sidebar_feeds[0] == nil %>
				<% @sidebar_feeds.each do |sidebar| %>
				  <li>
				    <a href="/feed/<%= sidebar.id %>"><%= sidebar.title %></a>
				  </li>
				<% end %>
				<% end %>
			</ul>
			</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<br />
		<b>
		<%= "&mdash; &copy; #{Time.now.strftime('%Y')} #{@author} &mdash; Weboldala, az alkalmazás <a href='https://github.com/Core966/monica_site_simple/blob/master/LICENSE'>MIT licenc</a> alatt készült. A Kód forrását meg lehet tekinteni a <a href='https://github.com/Core966/monica_site_simple'>github oldalán</a>.<br/>A gyerekrajzokat készítette: <a href='http://www.freeimages.com/profile/cieleke'>Cieleke</a>" %>
		</b>
	</div>
</div>
</body>
</html>
