
			<div class="entrytext">
				<h2><%= @post[0].title %></h2>
				<p><%= @post[0].body.bbcode_to_html({}, false) %></p>
			<% if env['warden'].authenticated? %>
				<form action="/blog/<%= "#{params[:id]}" %>" method="post">
					<%= Rack::Csrf.csrf_tag(env) %>
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="post[is_deleted]" value="<%= true %>" />
					<input type="submit" class="pure-button" value="Blog bejegyzés törlése" />
				</form>
			<% end %>
			</div>


