
<% @links.each do |link| %>
<form action="/link/<%= "#{link.id}" %>" class="pure-form pure-form-stacked" method="post">
	<%= Rack::Csrf.csrf_tag(env) %>
	<input type="hidden" name="_method" value="put" />
    <input id="post_title" name="link[title]" type="text" value="<%= link.title %>" />
    <div class="entrytext">
	<select name="link[href]">
<% unless @selection[0] == nil %>
<% @selection.each do |select| %>
	  <option value="/blog/<%= "#{select.id}" %>"><%= select.title %></option>
<% end %>
<% end %>
	</select>
	<input type="submit" class="pure-button pure-button-primary" value="Új link létrehozása" />
</form>
    </div>
<% end %>

<br/ >

