<% unless @feeds[0] == nil %>
<% @feeds.each do |feed| %>
<div class="single-feed">
    <h2><a href="/feed/<%= feed.id %>"><%= feed.title %></a></h2><h4><%= feed.created_at.strftime("%Y/%m/%d") %></h4>
</div>
<% end %>
<% end %>
<br />
<br />
<div id="left-arrow"><a href="/feeds/oldal<%= (params[:id].to_i)-1 %>"><img src="/images/Arrow-left.png"><b>Előző oldal</b></a></div><div id="right-arrow"><a href="/feeds/oldal<%= (params[:id].to_i)+1 %>"><b>Következő oldal</b><img src="/images/Arrow-right.png"></a></div>

<% if env['warden'].authenticated? %>

<a class="pure-button" href="/feed/new">Új hír bejegyzés</a>
<% end %>


