
			<div class="entrytext">
				<h2><%= @feed[0].title %></h2>
				<p><%= @feed[0].content.bbcode_to_html({}, false) %></p>
			<% if env['warden'].authenticated? %>
				<form action="/feed/<%= "#{params[:id]}" %>" method="post">
					<%= Rack::Csrf.csrf_tag(env) %>
					<input type="hidden" name="_method" value="put" />
					<input type="hidden" name="feed[is_deleted]" value="<%= true %>" />
					<input type="submit" class="pure-button" value="Hírbejegyzés törlése" />
				</form>
			<% end %>
			</div>
